@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CARAVAN STAANPLAATS TE HUUR</h1>
    <p>
        Zoekt u een vaste staanplaats voor een caravan waar u het hele jaar terechtkunt?
        Camper en caravanstalling Bentelo heeft ook voor u een caravan staanplaats te huur waar u zich helemaal op uw gemak voelt.
        Onze familiecamping biedt plaats aan 200 vaste staanplaatsen die bestemd zijn voor campers en caravans.
        Met uw caravan kunt u een jaar lang gebruikmaken van een vaste staanplaats.
        Omdat wij het hele jaar door geopend zijn,
        kunt u bij ons komen recreëren wanneer u dat wilt. Ook in de herfst en de winter kunt u bij ons in Bentelo even helemaal tot rust komen.</a>.
    </p>
</div>
<a href="https://localhost:44306/appointment" class="myButton">Reserveren</a>
